* {
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: bisque;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
}

title {
    display: none;
}

#container {
    width: 470px;
    height: 620px;
    background-color: gray;
}

#display {
    width: 450px;
    height: 150px;
    background-color: aqua;
}

#keypad {
    width: 450px;
    height: 450px;
    background-color: blue;
}
